<!-- Loop over each object in the projects array -->

     <div id="homepage_message" class="evaluation-container p-2 text-white bg-dark border border-white rounded-4">
      <p>Fit Genie is an interactive AI fitness program designer application in which the user enters personal information and fitness goals. The application creates an incremented fitness program using the given fitness goals, resources (exercise modalities and scheduling needs). The user can then track their progress in the app and allow the fitness program to be adjusted accordingly. Take control of your workouts and train as you would with a professional coach.</p>
        <a type="button" class="btn btn-secondary" href="evaluation">Get Started</a>
      </div>